# Default owners for everything in the repo, unless a later match takes precedence.
* @mbzomowski @RissyRan @allenwang28

dags/solutions_team/configs/tensorflow @chandrasekhard2 @ZhaoyueCheng @richardsliu
dags/solutions_team/solutionsteam_tf* @chandrasekhard2 @ZhaoyueCheng @richardsliu

dags/pytorch_xla @JackCaoG @vanbasten23 @zpcore @ManfeiBai
dags/legacy_test/tests/pytorch @JackCaoG @vanbasten23 @zpcore @ManfeiBai

dags/mantaray @ManfeiBai @tengyifei @zpcore

dags/multipod @jonb377 @tonyjohnchen @raymondzouu @gobbleturk @shralex @RissyRan @jiangjy1982

dags/mlcompass @ortibazar @sganeshb @brajiang @wlzhg

dags/sparsity_diffusion_devx @RissyRan @parambole @jiangjy1982 @aireenmei @michelle-yooh
dags/sparsity_diffusion_devx/project_bite* @RissyRan @parambole @jiangjy1982 @aireenmei @michelle-yooh @jiya-zhang
dags/sparsity_diffusion_devx/configs/project_bite* @RissyRan @parambole @jiangjy1982 @aireenmei @michelle-yooh @jiya-zhang

dags/inference @yeandy @vipannalla @morgandu @mailvijayasingh @sixiang-google @joezijunzhou @singh-mitali

dags/map_reproducibility @crankshaw-google @polydier1
