apache-airflow==2.10.2
apache-airflow-providers-sendgrid
fabric
google-cloud-bigquery
google-cloud-compute
google-cloud-storage
google-cloud-container
google-cloud-tpu>=1.16.0
jsonlines
tensorflow-cpu
kubernetes
pyarrow
apache-airflow-providers-google
dacite
